@media only screen and (min-width: 0px) {
  .bars.left-nav-bar {
    left: -23.4%;
  }
  .bars.right-nav-bar {
    right: -23.4%;
  }
  main {
    margin: 0 20px;
  }
}
@media only screen and (min-width: 1000px) {
  .bars.left-nav-bar {
    left: 0;
  }
  .bars.right-nav-bar {
    right: 0;
  }
  .bars .left-nav-bar {
    width: 0;
  }
  main {
    width: 53.2%;
    margin: 0 auto;
  }
}
