@media only screen and (min-width: 0px) {
  .menu-list {
    text-align: center;
  }
  .main_logo {
    text-align: center;
    padding: 0px 0;
  }
  .what-we-take .item {
    font-size: 21px;
  }
  .what-we-take,
  .answer_question,
  .blog-slider {
    white-space: nowrap;
    max-width: 400px;
    overflow: auto;
    margin: 10px auto;
    margin-bottom: 20px;
  }
  .what-we-take .item,
  .answer_question .item,
  .blog-slider .item {
    display: inline-block;
  }
  .what-we-take .item a,
  .answer_question .item a,
  .blog-slider .item a {
    font-size: 21px;
    display: block;
    white-space: normal;
  }
  .what-we-take .item h3,
  .answer_question .item h3,
  .blog-slider .item h3 {
    font-size: 24px;
    display: block;
    white-space: normal;
  }
  .what-we-take .item p,
  .answer_question .item p,
  .blog-slider .item p {
    font-size: 21px;
    display: block;
    white-space: normal;
  }
  .what-we-take .item .name,
  .answer_question .item .name,
  .blog-slider .item .name {
    display: block;
    font-size: 18px;
    white-space: normal;
  }
  #myvideo {
    height: 300px;
  }
  .team-slider,
  .reviews-slider {
    max-width: 200px;
  }
  .infoAndNav {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -30px;
    display: block;
    z-index: 10;
  }
  .infoAndNav .navburger,
  .infoAndNav .info {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left top;
  }
  .infoAndNav .navburger {
    background-image: url("../img/blackburger.png");
  }
  .infoAndNav .info {
    background-image: url("../img/info.png");
  }
  .first-slider {
    max-width: 400px;
  }
  .bars {
    width: 80%;
  }
  .bars.left-nav-bar {
    left: -80%;
    transition: left 0.75s;
  }
  .bars.left-nav-bar.show {
    left: 0;
  }
  .bars.right-nav-bar {
    right: -80%;
    transition: right 0.75s;
  }
  .bars.right-nav-bar.show {
    right: 0;
  }
  main {
    margin: 0 20px;
  }
}
@media only screen and (min-width: 1000px) {
  .menu-list {
    text-align: left;
  }
  .main_logo {
    text-align: right;
    padding: 70px 0;
  }
  .what-we-take .item {
    font-size: 14px;
  }
  .what-we-take,
  .answer_question,
  .blog-slider {
    white-space: normal;
    max-width: none;
    overflow: auto;
  }
  .what-we-take .item,
  .answer_question .item,
  .blog-slider .item {
    display: block;
  }
  .what-we-take .item a,
  .answer_question .item a,
  .blog-slider .item a {
    font-size: 14px;
  }
  .what-we-take .item h3,
  .answer_question .item h3,
  .blog-slider .item h3 {
    font-size: 18px;
  }
  .what-we-take .item p,
  .answer_question .item p,
  .blog-slider .item p {
    font-size: 12px;
  }
  .what-we-take .item .name,
  .answer_question .item .name,
  .blog-slider .item .name {
    display: block;
    white-space: normal;
    font-size: 13px;
  }
  #myvideo {
    height: 400px;
  }
  .team-slider,
  .reviews-slider {
    max-width: none;
  }
  .infoAndNav {
    display: none;
  }
  .first-slider {
    max-height: 442px;
    max-width: none;
  }
  .bars {
    width: 23.4%;
  }
  .bars.left-nav-bar {
    left: 0;
  }
  .bars.right-nav-bar {
    right: 0;
  }
  .bars .left-nav-bar {
    width: 0;
  }
  main {
    width: 53.2%;
    margin: 0 auto;
  }
}
