@media only screen and (min-width:0px)
	.team-slider
		.swiper-slide
			.member
				max-height 200px
	.icon-bar
		left 20px
		top 50%
		transform translateY(-50%)
		.icon
			display block
			margin 10px 0
	.left_container
		.page_name
			font-size 33px
			i
				font-size 72px
		p
			font-size 14px
	.wrapper-block
		&.right
			top 65% 
			transform translateY(-65%)
	.logo
		top 30px
	.left_line
		border-left none
	.menu-list
		text-align center
	.main_logo
		text-align center
		padding 15px 0
	.what-we-take
		.item
			font-size 21px
	.what-we-take
	.answer_question
	.blog-slider
		white-space nowrap
		max-width 400px
		overflow auto
		margin 10px auto
		margin-bottom 20px
		.item
			display inline-block
			a
				font-size 21px
				display block
				white-space normal
			h3
				font-size 24px
				display block
				white-space normal
			p
				font-size 21px
				display block
				white-space normal
			.name
				display block
				font-size 18px
				white-space normal
			
				
	#myvideo
		height 300px
	.team-slider
	.reviews-slider
		max-width 200px
	.infoAndNav
		position fixed
		top 50%
		right 20px
		margin-top -20px
		display block
		z-index 10
		.navburger
		.info
			cursor pointer
			display block
			width 20px
			height 20px
			margin 0 10px
			margin-bottom 10px
			background-size 20px
			background-repeat no-repeat
			background-position left top
		.navburger
			background-image url(../img/blackburger.png)
		.info
			background-image url(../img/info.png)
	.first-slider
		max-width 400px
	.bars
		width 80%
		&.left-nav-bar
			left -80%
			transition left 0.75s
			&.show
				left 0
		&.right-nav-bar
			right -80%
			transition right 0.75s
			&.show
				right 0
	main
		margin 0 70px

@media only screen and (min-width:400px)
	.section
		margin-top 50px

@media only screen and (min-width:550px)
	.section
		margin-top 100px
		
@media only screen and (min-width:1000px)
	.icon-bar
		bottom 5px
		left 50%
		transform translateX(-50%) translateY(-50%)
		top auto
		.icon
			display inline-block
			margin 0 25px
	.logo
		top 30px
	.section
		margin-top 30px
	.what-we-take
	.answer_question
	.blog-slider
		max-height 350px
		max-width 800px
	.first-slider
		max-height 350px
		max-width 800px
	.team-slider
	.reviews-slider
		max-width 800px

@media only screen and (min-width:1230px)
	.left_line
		border-left 1px solid #000
	.menu-list
		text-align center
		li
			margin-bottom 5px
	.main_logo
		text-align center
		padding 20px 0
	.what-we-take
		.item
			font-size 14px
	.what-we-take
	.answer_question
	.blog-slider
		white-space normal
		max-width none
		overflow auto
		max-height none
		max-width none
		.item
			display block
			a
				font-size 14px
			h3
				font-size 18px
			p
				font-size 12px
			.name
				display block
				white-space normal
				font-size 13px
	#myvideo
		height 400px
	.team-slider
	.reviews-slider
		max-width none
	.infoAndNav
		display none
	.first-slider
		max-height 400px
		max-width none
	.bars
		width 23.4%
		&.left-nav-bar
			left 0
		&.right-nav-bar
			right 0
	.bars
		.left-nav-bar
			width 0
	main
		width 53.2%
		margin 0 auto

@media only screen and (min-width:1400px)
	.logo
		top 100px
	.section
		margin-top 20px
	.first-slider
		max-height 400px
		max-width none

@media only screen and (min-width:1590px)
	.team-slider
		.swiper-slide
			.member
				max-height 300px
	.logo
		top 120px
	.wrapper-block
		&.right
			top 57% 
			transform translateY(-57%)

@media only screen and (min-width:1860px)
	.logo
		top 170px
	.icon-bar
		bottom 70px
	.first-slider
		max-height 630px
	.left_container
		.page_name
			font-size 55px
			i
				font-size 72px
		p
			font-size 25px
		