html
body
	margin 0
	padding 0
	padding-top 26px
	height 100%
	font-family 'PoiretOne-Regular'
	background-color: #FFF

@font-face
	font-family 'TulpenOne-Regular'
	src url('../fonts/TulpenOne-Regular.ttf')
	font-style normal

@font-face
	font-family 'BrandonGrotesque Light'
	src url('../fonts/BrandonGrotesque/Brandon_light.otf')
	font-style normal

@font-face
	font-family 'BrandonGrotesque Regular'
	src url('../fonts/BrandonGrotesque/Brandon_reg.otf')
	font-style normal

@font-face
	font-family 'BrandonGrotesque Medium'
	src url('../fonts/BrandonGrotesque/Brandon_med.otf')
	font-style normal


@font-face
	font-family 'Railway Light'
	src url('../fonts/Raleway-Light.ttf')
	font-style normal

@font-face
	font-family 'PoiretOne-Regular'
	src url('../fonts/PoiretOne-Regular.ttf')
	font-style normal

.video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px}
.myvideo-dimensions{width:100% !important}

.text-center
	text-align center!important
	p
		text-align center!important	
.uppercase
	text-transform: uppercase 

.one-line
	white-space: nowrap;
	overflow: hidden;
	padding: 5px; 
	text-overflow: ellipsis
body
	h2
		font-size 21px
	.color-black
		color #000
.section
.block-abs
.first-slider
.swiper-wrapper
.swiper-slide
	height 100%	

.img-responsive
	width 100%
#section1
	img
		height 100%

.first-slider
	.swiper-slide
		width 100%
		background-size auto 100%
	
.icon-bar
/*	position absolute
	z-index 15
	right 40px
	top 50%
	transform translateY(-50%)*/
	/*.icon
		margin-bottom 40px*/
	.home-icon
		background-image url(../img/home-icon.png)
		background-position left center
		background-repeat no-repeat
		width 25px
		height 27px
		background-size 25px 27px
		display inline-block
	.arrows
		.arrow
			background-position left top
			background-repeat no-repeat
			width 20px
			height 10px
			background-size 20px
			padding 10px 0
			cursor pointer
			opacity 0.8
			animation-direction alternate
			animation-duration 0.35s
			animation-iteration-count infinite
			animation-fill-mode forwards
			animation-play-state paused
			&:hover
				opacity 1
			&.turn_off
				opacity 0.2
				pointer-events none
			&.bottom
				background-image url(../img/bottom-arrow.png)
				animation-name leapDown
				&:hover
					animation-play-state running
			&.top
				animation-name leapUp
				background-image url(../img/top-arrow.png)
				&:hover
					animation-play-state running
	.phone
		background-image: url("../img/phone.png");
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 12px;
		height: 30px;
		cursor: pointer;
		display: block;
		margin-left: 6px;
		margin-bottom 20px
	.close__js
		background-image url(../img/close.png)
		background-position left top
		background-repeat no-repeat
		background-size 100%
		background-size 20px
		width 20px 
		height 20px
		cursor pointer
		display block

// Projects age
.project-slider
.partners-slider
.blog-slider
.question_and_answer-slider
.team-slider
.reviews-slider
	a
		display block
	/*.swiper-pagination
		margin-top 30px
		.swiper-pagination-bullet
			width auto
			height auto
			background-color transparent
			font-family 'PoiretOne-Regular', sans-serif
			font-size 16px
			color #000
			opacity 0.5
			&.swiper-pagination-bullet-active
				opacity 1*/
	.swiper-button-prev
	.swiper-button-next
		bottom 0px
		top auto
		right auto
		left auto
		width 12px
		height 16px
		background-size 12px 16px
		background-position left top
		background-repeat no-repeat
		background-image url(../img/left-arrow.png)
		z-index 14
	.swiper-button-next
		background-image url(../img/right-arrow.png)
		left 56%
		margin-left -5px 
	.swiper-button-prev
		right 56%
		margin-right -5px 
		
.slogan
	span
		position relative
		font-family 'TulpenOne-Regular', sans-serif
		font-size 48px
		text-transform uppercase
		letter-spacing 5px	
		color #000
		display inline-block
		padding-bottom 15px
		&:after
			content ' '
			position absolute
			bottom 15px
			left -20px
			right -20px
			height 1px
			background-color #000
		

#section2
	h2
		font-size: 21px
		font-weight: bold
		text-align center
	.block-abs
		margin 35px 80px
	.team-slider
		margin 25px 0
		padding-bottom 35px
	.projects
		margin-left -5px
		margin-right -5px
	.item
		padding-left 5px
		padding-right 5px
		margin-bottom 5px
	
/*TEAM PAGE*/		
.team_name
	font-size 18px
	font-weight 900
	margin 10px 0
	> div
		color #000
		font-size 15px
.team-slider
	.swiper-slide
		.member
			overflow hidden
			img
				width 100%

// Videojs

#section3
	margin 0 30px 
	.uppercase
		margin 40px 0
.section-info
	margin 0 20px
	text-align center
	h2
		margin-top 30px 
		font-size 21px

#section5
	h2
		margin-top 10px
#section4
#section5
#section8
	.project-slider
		margin 0px 60px 
		padding-bottom 20px
		a
			display block
		.item
			margin-bottom 10px

#section4
	margin-top 70px
	.project-slider
		margin 0px 30px 
		margin-top 30px
// Reviews
//reviews page
.reviews-slider
	margin 0px 80px
	padding 20px 0
	.swiper-slide
		.r_avatar
			width 120px
			height 120px
			margin 0 auto
			border-radius 50%
			overflow hidden
			background-position left top
			background-repeat no-repeat
			background-size cover
		.client_review
			margin-bottom 10px
			color #000
		hr
			margin-top 10px
		.client_name
		p
		.date
			color #000
			font-family 'PoiretOne-Regular', sans-serif
			font-weight 600
			text-align center!important
		.client_review
			font-size 21px
		.client_name
			font-size 15px
			font-weight 800
		.date
			margin-top 40px

.question_and_answer-slider
	margin 0px 25px
	padding 20px 0
	.swiper-slide
		.answer_question
			margin-bottom 10px
			a
				display block
		.item
			margin-bottom 10px
			padding-right 2.5px
			padding-left 2.5px
			.block-item
				padding 15px
				&.answer
					text-align right
					color #000
				&.question
					text-align left
				h3
					margin-top 0
					margin-bottom 5px
					font-size 15px
					text-transform uppercase
					color #000
					font-family 'PoiretOne-Regular', sans-serif
					font-weight 600
				p
					font-size 14px
					font-family 'PoiretOne-Regular', sans-serif
					font-weight 600
				.name
					font-size 14px
					font-weight 600
					font-family 'PoiretOne-Regular', sans-serif

#section9
	margin 30px 0
.partners-slider
	margin 0 80px
	margin-top 30px
	padding-bottom 30px	
	.item
		margin-bottom 20px
// Modals
.bg
	position fixed
	left 0
	right 0
	bottom 0
	top 0
	background-color #000
	opacity 0
	z-index -1
	transition opacity 0.75s	
	&.show_bg
		opacity 0.8
		z-index 10
/*.burger__js
	position fixed
	right 20px
	top 50%
	margin-top -25px
	width 50px
	height 50px
	background-image: url(../img/burger-icon.png)
	background-position center center
	background-repeat: no-repeat
	background-size 30px 15px
	background-color: #FFF
	border-radius 50%
	z-index 14*/

.home
	position absolute
	top 20px
	right 20px
	background-image: url(../img/home.png)
	background-position 0 0
	width 10px
	height 13px
	background-size 10px 13px
	z-index 12
	
.right-nav-bar
	position fixed
	top 0
	bottom 0
	width 100%
	left 100%
	background-color: #FFF
	z-index 15
	overflow-y scroll
	transition left 0.75s
	&.show
		left 0
	.logo
		margin 30px 0
	.wrapper-block
		margin 60px 0
		margin-bottom 20px
		text-align center
		.menu
			> ul
				padding 0
				margin 0
				li
					list-style none
					margin-bottom 15px
					a 
						color #000
						font-size 18px 
						text-transform lowercase
						text-decoration: none
						&:hover
							font-weight 900
	
#callback
	.input-form
		font-size 18px
		margin-bottom 10px
		input
			width 100%
			padding 10px 15px
			
//Modal window component
body 
	.md-show.md-effect-12 ~ .md-overlay
		background #fff
	.md-content
		color #000
		font-family 'PoiretOne-Regular', sans-serif
		font-weight 600
		text-align center!important
		p
			text-align center!important
	.md-overlay
		background: rgba(8, 8, 8, 0.8)
	.md-modal
		img
			width 100%
		
//Modal windows				
body 
	.md-modal
		max-width 750px
		width 70%
		&.md-show
			overflow-y auto
			height 100%
		.md-content
			padding 0 20px
	
.md-close
	position absolute
	top 20px
	right 20px
	width 20px
	height 20px
	background-color transparent
	background-image url(../img/close.png)
	background-repeat no-repeat
	background-size 20px
	background-position center center
	border none
	outline none
.modal-arrow
	position fixed
	top 0
	bottom 0
	padding arrow
	margin-top -10px
	background-size 10px 35px
	background-position center center
	background-repeat no-repeat
	cursor pointer
	transition background-color 0.35s
	&:hover
		background-color #B7B7B7
	&.prev-modal
		left 0px
		background-image url(../img/left-arrow.png)
	&.next-modal
		right 0px
		background-image url(../img/right-arrow.png)

.blog-hidden
	overflow hidden
	max-height 130px


.map-info
	margin 20px 5px
	font-weight 900

.page-slider
	height 100%
	.swiper-wrapper
		height 100%
		.swiper-slide
			height 100%

.what-we-take
	.wwt-item
		overflow hidden

@media only screen and (min-width:0px)
	#section4
		.project-slider
			margin 0px 30px 
			margin-top 30px
			.wwt-item
				max-height 100px
	#map
		overflow hidden
		max-height 163px
@media only screen and (min-width:320px)
	#section4
		.project-slider
			margin 0px 30px 
			margin-top 30px
			.wwt-item
				max-height 180px
	.what-we-take
		.wwt-item
			max-height 100px
	.team-slider 
		.swiper-slide 
			.member
				max-height 190px
	.section-info
		p
			font-size 12px
	#section4
	#section5
	#section8
		.project-slider 
			a
				font-size 13px
@media only screen and (min-width:375px)
	#map
		overflow hidden
		max-height 300px
	.what-we-take
		.wwt-item
			max-height 122px
	.team-slider 
		.swiper-slide 
			.member
				max-height 230px
	.section-info
		p
			font-size 14px
	#section4
	#section5
	#section8
		.project-slider 
			a
				font-size 14px

.fixed-header
	position fixed
	top 0
	left 0
	right 0
	background-color #fff
	padding 15px
	z-index 10
	box-shadow 0 0 8px 0px #000
	.logo
		position relative
		text-align center
	.burger__js
		position absolute
		top 50%
		left 20px
		transform translateY(-50%)
		color #000
		z-index 12
		
		
		
		
		